*на основе материалов [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course Author: [Yury Kashnitskyy](http://yorko.github.io)  
This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.*

Ботов Анатолий КИ22-08б

# Задание 1.2
## Начальный этап Разведочного Анализа Данных - Exploratory data analysis (EDA) с библиотекой Pandas

**В этом задании вам следует использовать Pandas, чтобы ответить на несколько вопросов о наборе данных 
[Adult](https://archive.ics.uci.edu/ml/datasets/Adult).**

Поля таблицы и их краткое описание:
- `age`: возраст, непрерывные значения(continuous).
- `workclass`: занятость, значения: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: примерная оценка количества людей, которое представляет каждая строка данных, непрерывные значения (continuous).
- `education`: образование, значения: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: длительность обучения, непрерывные значения(continuous).
- `marital-status`: семейное положение, значения: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: вид деятельности, значения: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: родственники, значения: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: раса, значения: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: пол, значения: Female, Male.
- `capital-gain`: прирост капитала, непрерывные значения (continuous).
- `capital-loss`: потери капитала, непрерывные значения (continuous).
- `hours-per-week`: часов в неделю, непрерывные значения (continuous).
- `native-country`: строна проживания: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: заработная плата, значения: >50K,<=50K

In [4]:
# импортируйте библиотеки
import pandas as pd
import numpy as np

# здесь должен быть ваш код

In [5]:
# считайте датасет из файла adult.data.csv и выведите первые 5 строк
data = pd.read_csv("adult.data.csv")
data.head()
# здесь должен быть ваш код

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex - пол*) представлено в этом наборе данных?**

In [12]:
# определите число мужчин и женщин, выведите полученные значения
print(data['sex'].value_counts())
# здесь должен быть ваш код

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Какой средний возраст (признак *age*) у мужчин?**

In [17]:
# определите средний возраст мужчин, выведите полученные значения
man_mean = data[data['sex']== 'Male']
print(man_mean["age"].mean())
# здесь должен быть ваш код

39.43354749885268

**3. Какова доля людей, проживающих в Германии ( признак *native-country* )?**

In [18]:
# здесь должен быть ваш код
count_germany = data[data['native-country'] == 'Germany'].shape[0]
print(count_germany)

137

**4-5. Каково среднее значение и стандартное отклонение возраста для людей, которые получают зарплату более чем 50K в год (признак *salary*) и для тех, кто получает меньше, чем 50K в год?**

In [24]:
# выведите полученные значения
bomjz = data[data['salary'] == '<=50K']
rich = data[data['salary'] == '>50K']

avg_bomjz = bomjz['age'].mean()
avg_rich = rich['age'].mean()

std_bomjz = bomjz['age'].std()
std_rich = rich['age'].std()

print(avg_bomjz, avg_rich)
print(std_bomjz,std_rich)
# здесь должен быть ваш код

36.78373786407767 44.24984058155847
14.02008849082488 10.519027719851826

**6. Правда ли, что люди, получающие более 50 тыс., имеют как минимум среднее образование? (признак *education* значения: *HS-grad, Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [34]:
# решение должно либо прямо давать ответ на вопрос, или как минимум выводить данные, глядя на которые можно дать на него ответ.
education_values = ['HS-grad', 'Bachelors', "Prof=school", 'Assoc-acdm', "Assoc-voc", 'Masters', 'Doctorate']

rich_edu_count_by_grade_high = rich[rich['education'].isin(education_values)].shape[0]
rich_edu_count_by_grade_low = rich[~rich['education'].isin(education_values)].shape[0]

print(f"Количество людей с зарплатой 50K+ и образованием {education_values}: {rich_edu_count_by_grade_high}")
print(f"Количество людей с зарплатой 50K+ и плохим образованием: " , rich_edu_count_by_grade_low)

# здесь должен быть ваш код

Количество людей с зарплатой 50K+ и образованием ['HS-grad', 'Bachelors', 'Prof=school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']: 5787
Количество людей с зарплатой 50K+ и плохим образованием:  2054

**7. Среди кого больше доля тех, кто зарабатывает много (>50К): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаются те, у кого признак *marital-status* начинается со слова *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), остальные считаются холостяками.**

In [38]:
# решение должно либо прямо давать ответ на вопрос, или как минимум выводить данные, глядя на которые можно дать на него ответ.
rich_married = rich[rich['marital-status'].str.startswith('Married') ].shape[0]
rich_non_married = rich[~rich['marital-status'].str.startswith('Married')].shape[0]

bomjz_married = bomjz[bomjz['marital-status'].str.startswith('Married') ].shape[0]
bomjz_non_married = bomjz[~bomjz['marital-status'].str.startswith('Married')].shape[0]

print(rich_married, rich_non_married)
print(bomjz_married, bomjz_non_married)
print(data.shape[0])

# здесь должен быть ваш код

6736 1105
8681 16039
32561

**8. Какое максимальное количество часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков процент тех, кто зарабатывает больше 50К среди них?**

In [58]:
# выведите полученные значения
max_workhours = data['hours-per-week'].max()
slaves_count = data[data['hours-per-week'] == max_workhours].shape[0]
slaves = data[data['hours-per-week'] == max_workhours]

slaves_rich = rich[rich['hours-per-week'] == max_workhours].shape[0]

print(max_workhours,slaves_count,slaves_rich)
print(str(round(slaves_rich/slaves_count*100,2)) + "%")

# здесь должен быть ваш код

99 85 25
29.41%

**Задание повышенной сложности, за дополнительный бонус:**  
**Подсчитайте среднее время работы (признак *hours-per-week*) тех, кто зарабатывает мало и много (признак *salary*) для каждой страны (*native-country*).**

In [23]:
# выведите полученные значения или пропустите этот пункт, если задание оказалось слишком сложным для вас

# здесь должен быть ваш код

**После выполнения ноутбука ответьте в этом поле на следующие вопросы:**  
1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?
2. Каков средний возраст (признак age) мужчин?
3. Каков процент граждан Германии (признак native-country)?
4. Каковы среднее значение и стандартное отклонение возраста для тех, кто зарабатывает более 50 тыс. в год?  
5. Каковы среднее значение и стандартное отклонение возраста для тех, кто зарабатывает менее 50 тыс. в год?  
6. Правда ли, что люди, которые зарабатывают более 50 тыс., имеют как минимум среднее образование?  
7. Среди кого больше доля тех, кто зарабатывает много (>50 тыс.): женатых или холостых мужчин (признак marital-status)? 
8. Какое максимальное количество часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков процент тех, кто зарабатывает много (>50 тыс.) среди них?
9. Если вы подсчитали среднее время работы (hours-per-week) для тех, кто зарабатывает мало и много (salary) для каждой страны (native-country), укажите, какие значения получились для Японии?